$component: 'c-accordian';

// Accordian
.#{$component} {
  margin: 0 em(-10) em(20);
  padding: 0 em(10);
}

.#{$component}__list {

  &--posts {

    .u-grid__item:first-of-type {
      display: none !important;
    }

    .u-grid__item,
    .u-grid__item:first-of-type {

      .u-grid__item:first-of-type {
        display: block !important;
      }

    }

  }

  .page-template-casestudy &,
  .single-casestudy & {

    .u-grid__item {

      @include breakpoint('medium-min') {
        margin-top: em(64);
      }

    }

  }

}

.#{$component}__item {
  border: 2px solid $border;
  margin-top: em(10);

  @include breakpoint('medium-min') {
    margin-top: 0;
    height: 100%;
  }

  &--rounded {
    @include border-radius(8px);
    overflow: hidden;

    @include breakpoint('medium-min') {
      overflow: visible;
    }

  }

  .u-grid__item:first-child & {
    margin-top: 0;
  }

  &--fixed {

    @include breakpoint('medium-min') {
      position: relative;
      padding-bottom: em(68);
    }

  }

}

.#{$component}__heading {
  background-color: transparent;
  border-bottom: none;
  position: relative;
  padding: em(15) em(86) em(15) em(20);
  @include transition(all 0.25s ease-out);

  @include breakpoint('medium-min') {
    background-color: $panel;
    // color: $white !important;
    padding-right: em(20) !important;
    // text-align: center;

    &:hover {
      cursor: default !important;
    }

    &:after {
      display: none !important;
    }

  }

  &--with-image {
    padding: em(20) em(86) em(20) em(104);

    @include breakpoint('medium-min') {
      padding-left: em(20);

      .o-image {

        &--size-64x64 {
          height: 128px;
          width: 128px;
        }

        &--border-dark {
          border-color: $white;
          background-color: $white;
        }

      }

    }

  }

  &:hover {
    cursor: pointer;
  }

  &:after {
    @include border-radius(100%);
    background-color: $panel;
    color: $heading;
    content: '\f067';
    font-family: 'FontAwesome';
    height: em(36);
    line-height: em(36);
    margin: auto;
    position: absolute;
    right: em(20);
    text-align: center;
    top: 0;
    bottom: 0;
    width: em(36);
    vertical-align: middle;
    @include transition(background-color 0.25s ease-out);
  }

  &.is-active {
    background-color: $panel;

    &:after {
      background-color: $white;
      content: '\f068';
    }

  }

  &--post {
    padding: em(25) em(86) em(25) em(20);

    @include breakpoint('medium-min') {
      background-color: transparent;
      padding: em(25) em(20);
    }

    &.is-active {
      background-color: $panel-dark;
      color: $white;

      @include breakpoint('medium-min') {
        background-color: transparent;
        color: $heading;
      }

    }

  }

  &--client {

    &.is-active {
      background-color: $brand;

      @for $i from 1 through length($client-list) {
        &[data-client=#{nth($client-list, $i)}] {
          background-color: nth($client-color, $i);
        }

      }

      .o-image--border-dark {
        background-color: $white;
        border-color: $white;
      }

      .o-heading {
        color: $white;

        &--client {
          color: rgba(255,255,255,0.75);
        }

      }

      @include breakpoint('medium-min') {
        background-color: $panel !important;

        .o-heading {
          color: $heading;
        }

        @for $i from 1 through length($client-list) {
          &[data-client=#{nth($client-list, $i)}] {

            .o-heading--client {
              color: nth($client-color, $i);
            }

          }

        }

      }

    }

  }

}

.#{$component}__image {

  &--fixed {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: em(20);

    @include breakpoint('medium-min') {
      position: relative;
      left: auto;
      top: em(-84);
      margin-bottom: em(-69);
    }

  }

}

.#{$component}__panel {
  max-height: 0;
  overflow: hidden;
  @include transition(max-height 0.5s ease-out);

  @include breakpoint('medium-min') {
    max-height: 100% !important;
  }

  &--fixed {

    .u-grid__item {

      @include breakpoint('medium-min') {
        margin: 0 !important;
      }

    }

  }

}

.#{$component}__content {
  border-top: 0;
  padding: em(20) em(20);

  &--post {

    @include breakpoint('medium-min') {
      padding: 0 em(20) em(20);
    }

  }

}