$component: 'c-logo';

// Logo
.#{$component} {

}

.#{$component}__link {

}

.#{$component}__img {
  @include border-radius(100%);
  background-color: $white;
  border: 3px solid $white;
  max-height: em(72);
  max-width: em(72);
}