// Fonts

// @font-face {
// 	@include font-face('Helvetica', normal, normal);
// 	@include font-face('Helvetica', normal, normal);
// }

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900|Roboto+Condensed:700&display=swap');

$font-heading: 'Lato', sans-serif;
$font-body: 'Lato', sans-serif;
$font-label: 'Roboto Condensed', sans-serif;