.l-band {

	@include m('border') {
		border: 2px solid $border;
	}

	@include m('light') {
		background-color: $panel;
	}

	@include m('dark') {
		background-color: $panel-dark;
		color: $white;
	}

	@include m('overlay') {

		@include breakpoint('large-min') {
			margin-bottom: -140px;
			position: relative;
			top: -140px;
			z-index: 2;
		}

		&-medium {

			@include breakpoint('large-min') {
				margin-bottom: -40px;
				position: relative;
				top: -40px;
				z-index: 2;
			}

		}

		&-small {

			@include breakpoint('large-min') {
				margin-bottom: -40px;
				position: relative;
				top: -40px;
				z-index: 2;
			}

		}

	}

}

.l-page,
.l-container {
	margin: 0 auto;
	width: 100%;

	@include m('small') {
		max-width: $small-min;
	}

	@include m('medium') {
		max-width: $medium-min;
	}

	@include m('large') {
		max-width: $large-min;
	}

	@include m('extra-large') {
		max-width: $extra-large-min;
	}

	@include m('overlay') {

		@include breakpoint('small-min') {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			height: 100%;
			width: 100%;
			z-index: 2;
		}

	}

	@include m('medium-full') {
		max-width: 100%;

		@include breakpoint('large-min') {
			max-width: $medium-min;
		}

	}

}

body {
	background-color: $panel;
}

.l-page {
	background-color: $white;
	@include text-rendering;
	border-bottom: 10px solid $heading;
	color: $text;
	font-family: $font-body;
	font-size: em(16);
	line-height: 1.5;
	letter-spacing: 0.25px;
	min-height: 100%;
	padding: 0 10px 10px;
	word-spacing: normal;
	word-wrap: break-word;

	@include breakpoint('medium-min') {
		padding: 0 20px 20px;
	}

	@include m('full') {
		margin: 0;
		max-width: 100%;
	}

}

.l-buttons {
	margin: 0 em(-5);

	&--fixed {
		padding: em(0) em(20) em(20);

		@include breakpoint('medium-min') {
      position: absolute;
			width: 100%;
			bottom: em(20);
			left: 0;
			right: 0;
			margin: 0;
			padding: 0 em(20);
		}

		&-home {
			padding: 0;

			@include breakpoint('medium-min') {
				bottom: em(45);
				padding: 0 em(35);
			}

		}

	}

}