$object: 'o-heading';

// Heading
.#{$object} {
    color: $heading;
    font-size: em(24);
    line-height: 1.2;
    font-weight: 900;
    margin-bottom: 0.75em;
    @extend %end-margin;

    // &:not(:first-child) {
    //     margin-top: 1.75em;
    // }

    &--reduce-margin {
      margin-bottom: 0.5em;
    }

    &--increase-margin {
      margin-bottom: 1.25em;
    }

    a {
      text-decoration: none;
    }

}

// Sizing
.#{$object}--extra-extra-small {
  font-size: em(13);
}
.#{$object}--extra-small {
  font-size: em(17);
}
.#{$object}--small {
  font-size: em(18);
}
.#{$object}--post {
  font-size: em(20);
}
.#{$object}--large {
  font-size: em(28);
}
.#{$object}--extra-large {
  font-size: em(32);
}

// Color
.#{$object}--inherit {
  color: inherit;
}
.#{$object}--highlight {
    color: $brand;
}

// Modifier
.#{$object}--link {

  a {
    @extend .o-link;
    @extend .o-link--highlight;
    font-size: inherit !important;
  }

}


.#{$object}--label {
  background-color: $panel;
  color: $heading;
  display: inline-block;
  font-family: $font-label;
  font-size: em(12);
  line-height: 24px;
  position: relative;
  margin-bottom: 20px;
  padding: 0 8px;
  text-align: center;
  text-transform: uppercase;
  z-index: 5;

  &:after {
    clear: both;
  }

  &-post {
    margin-bottom: 15px;
  }

  &-light {
    background-color: $white;
    color: $heading;
  }

  &-dark {
    background-color: $panel-dark;
    color: $white;
  }

  &-overlay {
    position: relative;
    top: -15px;
    margin-bottom: 5px;
  }

  &-client {
    background-color: $brand;
    color: $white;

    @for $i from 1 through length($client-list) {
      [data-client=#{nth($client-list, $i)}] & {
        background-color: nth($client-color, $i);
      }
    }

  }

  &-small {
    font-size: em(10);
  }

}

.#{$object}--client {
  color: $brand;
  @include transition(color 0.25s ease-out);

  @for $i from 1 through length($client-list) {
		[data-client=#{nth($client-list, $i)}] & {
			color: nth($client-color, $i);
		}
	}

}
