$object: 'o-text';

.#{$object} {
    margin-bottom: 1.5em;
    @extend %end-margin;

    p {
        margin-bottom: 1.25em;
        @extend %end-margin;

        em {
          font-weight: normal;
        }

    }

    ul {
      list-style: none;
      margin-bottom: em(20);

      &:last-child {
        margin-bottom: 0;
      }

      li {
        margin-bottom: em(12);
        padding-left: em(24);
        position: relative;

        &:last-child {
          margin-bottom: 0;
        }

        &:before {
          content: '\f111';
          color: $brand;
          font-family: 'FontAwesome';
          font-size: em(12);
          position: absolute;
          top: 5px;
          left: 0;

          @for $i from 1 through length($client-list) {
            [data-client=#{nth($client-list, $i)}] & {
              color: nth($client-color, $i);
            }
          }

        }

      }

    }

    h1, h2, h3, h4, h5, h6 {
      color: $heading;
      line-height: 1.2;
      font-weight: 900;
      margin-bottom: 0.75em;
      @extend %end-margin;

      a {
        text-decoration: none;
      }

    }

    h1 {
      font-size: em(32);
    }

    h2 {
      font-size: em(28);
    }

    h3 {
      font-size: em(24);
    }

    h4 {
      font-size: em(20);
    }

    h5 {
      font-size: em(18);
    }

    h6 {
      font-size: em(16);
    }

}

.#{$object}--extra-small {
  font-size: em(12);
}
.#{$object}--small {
  font-size: em(14);
}
.#{$object}--large {
  font-size: em(18);
}
.#{$object}--extra-large {
  font-size: em(20);
}