@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', system-ui, sans-serif;
  }
}

@layer components {
  /* body {
    @apply bg-repeat bg-white bg-fixed;
    background-size: 411px;
    background-image: url('../assets/pattern-alt.png');
  } */
  /* Avatar */
  .avatar img {
    @apply rounded-full w-12 h-12;
  }
  .avatar-featured img {
    @apply rounded-full w-16 h-16;
  }
  .avatar a:hover img,
  .team-avatar a:hover img {
    @apply outline outline-2 outline-emerald-500;
  }
  .logo a:hover img {
    @apply outline outline-2 outline-white;
  }
  /* Links */
  .link {
    @apply font-bold box-decoration-clone border-b-2 border-solid border-emerald-500 hover:text-emerald-500;
  }
  .contains-link {
    @apply hover:text-emerald-500;
  }
  /* Pattern */
  .pattern-bg {
    @apply bg-repeat bg-midnight-500 bg-fixed;
    background-size: 411px;
    background-image: url('../assets/pattern.png');
  }
  /* SVG */
  .svg-icon-4 svg {
    @apply w-4;
  }
  .svg-icon-6 svg {
    @apply w-6;
  }
  .svg-icon-12 svg {
    @apply w-12 lg:w-16;
  }
  .stroke-svg svg {
    @apply stroke-current stroke-1;
  }
  /* Content */
  .content-post p:not(:last-child) {
    @apply mb-4;
  }
  /* Nav */
  ul.parent-list li {
    @apply relative;
  }
  ul.parent-list > li:hover > a {
    @apply text-emerald-500;
  }
  ul.parent-list > li > ul.child-list {
    @apply hidden z-0 absolute pt-12 top-0 left-0 w-80;
  }
  ul.parent-list > li:hover > ul.child-list {
    @apply block;
  }
  .parent-link {
    @apply font-bold text-2xl hover:text-emerald-500 z-10 relative;
  }
  ul.parent-list > li svg {
    @apply transition-transform duration-700 stroke-midnight-500 stroke-2 relative top-0.5;
  }
  .home ul.parent-list > li svg {
    @apply stroke-white;
  }
  ul.parent-list > li:hover svg {
    @apply rotate-[-90deg] stroke-emerald-500;
  }
  .parent-link.current-page {
    @apply text-emerald-700 border-b-2 border-solid fill-emerald-700 border-emerald-200 hover:text-emerald-500;
  }
  .parent-link.current-page svg {
    @apply stroke-emerald-700;
  }
  ul.child-list > li {
    @apply mb-2;
  }
  .child-link {
    @apply font-medium hover:text-emerald-500;
  }
  /* Intro */
  .content-intro {
    @apply max-w-4xl mx-auto pb-24 pt-32 px-6;
  }
  .content-intro h1 {
    @apply text-5xl font-bold text-midnight-500 mb-4 leading-snug;
  }
  .content-intro p {
    @apply text-2xl text-midnight-400 mt-2 leading-relaxed;
  }
  .content-intro .strapline {
    @apply text-2xl leading-relaxed mb-4 text-slate-500 uppercase font-bold;
  }
  /* Breadcrumbs */
  .breadcrumbs {
    @apply text-midnight-500 mb-6 flex;
  }
  .breadcrumbs li {
    @apply inline-block;
  }
  .breadcrumbs a {
    @apply text-emerald-700 font-medium underline hover:text-emerald-500;
  }
  .breadcrumbs li.parent:after {
    @apply text-slate-400 px-2;
    content: "/";
  }
  .breadcrumbs .truncate-text {
    @apply inline-block truncate max-w-[320px];
  }
  /* Pagination */
  .pagination {
    @apply mb-24 flex space-x-6;
  }
  .pagination a {
    @apply inline-block text-sm bg-slate-100 rounded-lg fill-midnight-500 text-midnight-500 font-bold py-3 px-6 hover:bg-emerald-500 hover:text-white hover:fill-white;
  }
  .pagination svg {
    @apply inline-block w-4;
  }
  /* Share */
  .share-link svg {
    @apply w-6;
  }
  .share-link {
   @apply hover:opacity-80;
  }
  .facebook {
    @apply fill-facebook;
  }
  .twitter {
    @apply fill-twitter;
  }
  .linkedin {
    @apply fill-linkedin;
  }
  .whatsapp {
    @apply fill-whatsapp;
  }
  .email {
    @apply fill-google;
  }
  .share-link.email svg {
    @apply w-8;
  }
  /* CMS */
  .content-cms h1 {
    @apply font-bold text-4xl text-midnight-500 leading-relaxed mb-4 mt-12;
  }
  .content-cms h2 {
    @apply font-bold text-3xl text-midnight-500 leading-relaxed mb-4 mt-12;
  }
  .content-cms h3 {
    @apply font-bold text-2xl text-midnight-500 leading-relaxed mb-4 mt-8;
  }
  .content-cms h4 {
    @apply font-bold text-xl text-midnight-500 leading-relaxed mb-4 mt-8;
  }
  .content-cms p {
    @apply text-xl text-midnight-400 leading-relaxed mb-6;
  }
  .content-cms a {
    @apply font-bold text-midnight-500 box-decoration-clone border-b-2 border-solid border-emerald-500 hover:text-emerald-500;
  }
  .content-cms strong {
    @apply text-midnight-500;
  }
  .content-cms ol,
  .content-cms ul {
    @apply text-xl text-midnight-400 leading-relaxed;
  }
  .content-cms ul {
    @apply mt-8 mb-8;
  }
  .content-cms ol {
    @apply mt-8 mb-8;
    counter-reset: items;
  }
  .content-cms ol li {
    @apply relative pl-20 mb-6 min-h-[48px];
    counter-increment: items;
  }
  .content-cms ol li:before {
    @apply block bg-slate-200 w-12 h-12 absolute top-0 left-0 text-midnight-500 font-bold rounded-full text-2xl flex justify-center items-center;
    content: counter(items);
  }
  .content-cms ul li {
    @apply relative pl-10 mb-4;
  }
  .content-cms ul li:before {
    @apply block bg-slate-200 w-4 h-4 absolute top-2 left-0 rounded;
    content:'';
  }
  .content-cms figure {
    @apply my-12;
  }
  .content-cms figure img {
    @apply rounded-2xl;
  }
  .content-cms figure figcaption {
    @apply text-sm opacity-80 mt-4 text-slate-600;
  }
  .content-cms blockquote {
    @apply my-8;
  }
  .content-cms blockquote p {
    @apply text-emerald-900 font-bold text-3xl italic leading-relaxed bg-emerald-200 box-decoration-clone inline py-2;
  }
  .content-cms blockquote cite {
    @apply block font-medium text-midnight-500 not-italic mt-4;
  }
  .content-cms blockquote cite:before {
    content: "- ";
  }
  /* Panel */
  .panel {
    @apply border border-midnight-500/10 border-solid rounded-xl shadow-lg shadow-midnight-500/20 p-9;
  }
  .panel h3 {
    @apply font-bold text-2xl text-midnight-500 leading-relaxed mb-4;
  }
  .panel a {
    @apply font-bold text-midnight-500 box-decoration-clone border-b-2 border-solid border-emerald-500 hover:text-emerald-500;
  }
  .panel p {
    @apply text-midnight-400 leading-relaxed;
  }
  .panel p:not(:last-child) {
    @apply mb-4;
  }
  /* Form */
  .wpforms-container {

  }
  .wpforms-form {

  }
  .wpforms-field-container {

  }
  .wpforms-field {

  }
  .wpforms-field-label {
    @apply block font-bold mb-2;
  }
  .wpforms-required-label {
    @apply hidden	;
  }
  .wpforms-field-medium {
    @apply w-full border-2 border-slate-400 border-solid bg-white rounded-lg px-3 mb-8;
  }
  input.wpforms-field-medium {
    @apply h-12;
  }
  textarea.wpforms-field-medium {
    @apply h-40 py-3;
  }
  .wpforms-submit-container {

  }
  .wpforms-submit {
    @apply inline-block text-lg bg-emerald-500 rounded-lg fill-white text-white font-bold py-4 px-8 hover:bg-emerald-600;
  }
}
