@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', system-ui, sans-serif;
  }
}

@layer components {
  /* Avatar */
  .avatar img {
    @apply rounded-full w-12 h-12;
  }
  .avatar a:hover img {
    @apply outline outline-2 outline-emerald-500;
  }
  .logo a:hover img {
    @apply outline outline-2 outline-white;
  }
  /* Links */
  .link {
    @apply font-bold box-decoration-clone border-b-2 border-solid border-emerald-500 hover:text-emerald-500;
  }
  .contains-link {
    @apply hover:text-emerald-500;
  }
  /* Pattern */
  .pattern-bg {
    @apply bg-repeat bg-midnight-500 bg-fixed;
    background-size: 411px;
    background-image: url('../assets/pattern.png');
  }
  /* SVG */
  .svg-icon-4 svg {
    @apply w-4;
  }
  .svg-icon-6 svg {
    @apply w-6;
  }
  .svg-icon-12 svg {
    @apply w-12 lg:w-16;
  }
  .stroke-svg svg {
    @apply stroke-current stroke-1;
  }
  /* Content */
  .content p {
    @apply mb-4;
  }
  /* Nav */
  ul.parent-list li {
    @apply relative;
  }
  ul.parent-list > li:hover > a {
    @apply text-emerald-500;
  }
  ul.parent-list > li > ul.child-list {
    @apply hidden z-0 absolute pt-12 top-0 left-0 w-80;
  }
  ul.parent-list > li:hover > ul.child-list {
    @apply block;
  }
  .parent-link {
    @apply font-bold text-2xl hover:text-emerald-500 z-10 relative;
  }
  ul.parent-list > li svg {
    @apply transition-transform duration-700 stroke-midnight-500 stroke-2 relative top-0.5;
  }
  .home ul.parent-list > li svg {
    @apply stroke-white;
  }
  ul.parent-list > li:hover svg {
    @apply rotate-[-90deg] stroke-emerald-500;
  }
  .parent-link.current-page {
    @apply text-emerald-700 border-b-2 border-solid fill-emerald-700 border-emerald-200 hover:text-emerald-500;
  }
  .parent-link.current-page svg {
    @apply stroke-emerald-700;
  }
  ul.child-list > li {
    @apply mb-2;
  }
  .child-link {
    @apply font-medium hover:text-emerald-500;
  }
}
